@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Стилизация header */
.header {
  padding-top: 49px;
  min-height: 84px;
  background-color: #eeeeee;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  font-size: 0;
  width: 160px;
  height: 65px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat; 
  background-size: contain;
}

.header__list {
  margin: 0;
  margin-top: 34px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.header__link {
  padding-bottom: 10px;
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.header__cart {
  margin-top: 33px;
  padding-left: 41px;
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

/* Стилизует слайдер */
.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}

.slider__item {
  display: flex;
  position: relative;
  width: 1160px;
  min-height: 430px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.slide1__info-wrapper {
  width: 400px;
}

.slider__item-caption {
  margin: 0;
  margin-top: 67px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider__item-desc {
  margin: 0;
  margin-top: 28px;
  max-width: 410px;
  color: #283136;
}

.slider__item-btn {
  display: block;
  max-width: 240px;
  margin-top: 42px;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  padding: 19px 53px;
  text-transform: uppercase;
  background-color: #fb565a;
  box-sizing: border-box;
}

.slide1__pic {
  width: 698px;
  height: 413px;
  margin-left: 31px;
}

.slide2__info-wrapper {
  position: relative;
  z-index: 2;
  width: 560px;
}

.slide2__pic {
  position: absolute;
  left: 496px;
  bottom: 0;
  width: 663px;
  height: 100%;
}

.slide3__info-wrapper {
  position: relative;
  z-index: 2;
  width: 460px;
}

.slide3__pic {
  position: absolute;
  left: 400px;
  bottom: 0;
  width: 759px;
  height: 411px;
}

.slide2 {
  display: none;
}

.slide3 {
  display: none;
}

/* Стилизация основного содержимого */
.main {
  padding-top: 80px;
}

.features .container {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.features__item {
  margin-right: 100px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__item-pic {
  width: 300px;
  height: 146px;
}

.features__item-caption {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.features__item-desc {
  margin: 0;
  margin-top: 26px;
  max-width: 260px;
  color: #283136;
}

.features__item-btn {
  display: inline-block;
  margin-top: 35px;
  padding: 19px 39px;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.features__item-btn--red {
  background-color: #fb565a;
}

.features__item-btn--green {
  background-color: #00ca74;
}

.features__item-btn--yellow {
  background-color: #efc84a;
}
